@charset "UTF-8";


a{
	text-decoration: none;
}


#logout {
	position: relative;
	top: 0px;
	left: 1400px;
}

#user {
	position: relative;
	top: 10px;
	left: 1230px;
	font-size: 18px;
}

h3{
	padding: 1rem 3rem;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#209cff), to(#68e0cf));
  background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
}
nav ul{
display: table;
margin: 0 auto;
padding: 0 ;
width: 80%;
text-align: center;
}
nav li{
display: table-cell;
min-width: 50px;
}
nav a{
display: block;
width: 100%;
text-decoration: none;
color: #555;
padding-bottom: 5px;
}
nav li.current{
border-bottom: 3px solid teal;
}
nav li:hover{
color: #E7DA66;
border-bottom: 3px solid #F0E475;
}
/*
#hedder {
	background-color: #ff8000;
	opacity: 0.5
}*/
