@charset "UTF-8";
body{
	margin: 0 auto;

}
#botton{
    text-align: right;
}

#category1{
	position:absolute;
	top:30%;
	left:38%;
}
#category2{
	position:absolute;
	top:36%;
	left:38%;
}
.category{
  width:60%;
}