@charset "UTF-8";
body{
	margin: 0 auto;
  height:100%;
}
#botton{
    text-align: right;
}

#category1{
	position:relative;
	top:120px;
	left:500px;
}
#category2{
	position:relative;
	top:140px;
	left:500px;
}
.category{
  width:60%;
}

#table1{
	position:relative;
	top:100px;
	left:500px;
	width: 500px;
}

#table2{
	position:relative;
	top:160px;
	left:500px;
}

td{
	height:40px;
}
a{
	text-decoration:none;
}