@charset "UTF-8";
body {
  background: linear-gradient(-45deg, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

}





 h3 {
  position: relative;
  display: inline-block;
  margin: 1rem 0 1rem -10px;
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 0 100vh 100vh 0;
  background: #0075a9;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}

h3:before {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 0;
  content: '';
  border-top: 10px solid #005276;
  border-left: 10px solid transparent;
}
th{
	background:  #0075a9;
	color: white;

}
td{
	background: #d5f4f0;
}

a.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

a.btn--yellow:hover {
  margin-top: 3px;
  color: #000;

}
table{
	width:50%;
	height:150px;
	text-align:center;

}
input{
	text-align: right;
}

#table1 {
	position: relative;
	top: 25px;
	left: 100px;
	width: 500px;
		height:300px;

}

#table2 {
	position: absolute;
	top: 250px;
	left: 800px;
	width: 500px;
}

#dishname{
		position: absolute;
	top: 200px;
	left: 800px;

}
