@charset "UTF-8";

body {
  background: linear-gradient(-45deg, #23a6d5, #23d5ab);
  background-size: 100% 100%;
  animation: gradient 15s ease infinite;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


th{
	background:  #0075a9;
	color: white;

}
td{
	background: #d5f4f0;
}


  h3 {
  position: relative;
  display: inline-block;
  margin: 1rem 0 1rem -10px;
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 0 100vh 100vh 0;
  background: #0075a9;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}

h3:before {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 0;
  content: '';
  border-top: 10px solid #005276;
  border-left: 10px solid transparent;
}
table{
	width:30%;

}
td{
text-align: right;
}
th{
	text-align: center;
}
input{
	text-align: right;
}



#table2 {
	position: absolute;
	top: 330px;
	left: 700px;
	width: 500px;
}
#undou {
	position: absolute;
	top: 150px;
	left: 700px;
	width: 500px;
}
#taijyuu {
	position: absolute;
	top: 210px;
	left: 700px;
	width: 500px;
}

