<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>アカウントページ</title>
 <link href="/CSS/accountPage.css" rel="stylesheet">
</head>
<body>
<h1>Create an account</h1>
<div th:if="${message != null}"><span th:text="${message}" style="color:red"></span></div>

<form action="/newUser" method="post">
<br>	<input type="text" name="name" placeholder="名前">
<br>
<input type="text" name="email" placeholder="メールアドレス">
<br>
<input type="password" name="password"　 placeholder="パスワード">
<br>
<input type="submit" value="登録">
</form>
<br>
<p><a href="/login">ログイン画面に戻る</a></p>
</body>
</html>