<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>アカウントページ</title>
</head>
<body>
アカウント作成画面
<div th:if="${message != null}"><span th:text="${message}" style="color:red"></span></div>

<form action="/newUser" method="post">
<br>
名前	<input type="text" name="name">
<br>
メールアドレス<input type="text" name="email">
<br>
パスワード<input type="password" name="password">
<br>
<input type="submit" value="登録">
</form>
<br>
<a href="/login">ログイン画面に戻る</a>
</body>
</html>