<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/CSS/confirm.css" rel="stylesheet">
<head>
<meta charset="UTF-8">
<title>確認画面</title>
</head>

<body>

<h3>確認画面</h3>
<p><span th:text="${message}" style="color:red"></span></p>

<table border="1">
	<tr>
		<th>メニュー</th><th>カロリー</th><th>時間・日付</th>
	</tr>
<tr>
			<td th:text="${dishname}"></td>
		<td th:text="${kcalall}"></td>
		<td>
		<form action="/myPage" method="post">
		<input type="hidden" name="dishname" th:value="${dishname}">
		<input type="hidden" name="kcalall" th:value="${kcalall}">
		<input type="time" name="time" th:value="${time}">
	<input type="date" name="calendar" th:value="${date}">
	<input type="submit" value="確定">
	</form>
	</td>
</tr>

</table>
<br>

<a href="/myMenu" class="btn btn--yellow btn--cubic">戻る</a>

</body>
</html>