<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/CSS/custom.css" rel="stylesheet">
<head>
<meta charset="UTF-8">
<title>custom</title>
</head>
<body>
<h3>カスタム入力</h3>
<p><span th:text="${message}" style="color:red"></span></p>

<form action="/custom/regi" method="post">
<table border="1">
	<tr>
		<th>食材</th><th colspan="2">カロリー</th>
	</tr>
	<tr>
<td><input type="text" name="menu" placeholder="メニュー"></td>
<td><input type="text" name="kcalall" placeholder="カロリー">kcal</td>
<td><input type="submit" value="登録"></td>

</tr>
</table>

<br>

</form>
<br>
<a href="/kcalCal" class="btn btn--yellow btn--cubic">メニュー登録へ</a>
</body>
</html>