<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/CSS/kcalCal.css" rel="stylesheet">

<head>
<meta charset="UTF-8">
<title>カロリー計算ツール</title>
<link href="/CSS/kcalCal.css" rel="stylesheet">
</head>
<body>
<header th:replace="hedder">
</header>

		<h3><span id="head">メニュー登録（カロリー計算）</span></h3>



	<a href="/custom" id="custom">カスタム入力</a>

	<table border="1" id="table1">
		<tr>
			<th>メニュー</th>
			<th>量</th>
			<th>カロリー</th>
			<th>削除</th>
		</tr>
		<tr th:each="selected:${SelectedFood}">
			<td th:text="${selected.uname}"></td>
			<td th:text="${selected.grams}+'g'" id="addGram"></td>
			<td th:text="${selected.calResult}+'kcal'" id="addKcal"></td>
			<td>
				<form action="/deladd" method="post">
					<input type="hidden" name="code" th:value="${selected.code}">
					<input type="submit" value="Delete" id="del">
				</form>
			</td>


		</tr>
		<tr>
			<td>合計</td>
			<td th:text="${gramsSum}+'g'"></td>
			<td th:text="${kcalSum}+'kcal'"></td>
			<td></td>
		</tr>
	</table>
	<form action="/myMenu" method="post">

		<input type="hidden" name="kcalall" th:value="${kcalSum}"> <input
			type="text" name="menu" class="regi"> <input type="submit" value="登録"
			class="regi">
	</form>
	<p>
		<span th:text="${message}" style="color: red"></span>
	</p>


	<div id="category1" class="category">
		<h2>
			<a href="/findByCode?value=1" class="a">穀物</a> <a href="/findByCode?value=9" class="a">肉</a>
			<a href="/findByCode?value=8" class="a">魚</a> <a href="/findByCode?value=2" class="a">芋&でんぷん</a>
			<a href="/findByCode?value=3" class="a">豆&ナッツ</a> <a href="/findByCode?value=4" class="a">野菜</a>
		</h2>
	</div>
	<div id="category2" class="category">
		<h2>
			<a href="/findByCode?value=5" class="a">果実</a> <a href="/findByCode?value=6" class="a">きのこ</a>
			<a href="/findByCode?value=7" class="a">海藻</a> <a href="/findByCode?value=10" class="a">卵&乳製品</a>
			<a href="/findByCode?value=11" class="a">調味料</a><a href="/kcalCal" class="a">全件表示</a>
		</h2>
	</div>
	<form action="/sarch" method="post">
		<input type="text" name="name" class="search"> <input
			type="submit" value="SEARCH" class="search"> <br>
	</form>

	<table border="1" id="table2">
		<tr>
			<th>食材</th>
			<td></td>
			<th>量</th>
			<td></td>
			<th>カロリー</th>
		</tr>
		<tr>
			<td><select name="food" id="food">
					<option value="" selected>---</option>
					<option th:each="food:${list}" th:value="${food.kcal}"
						th:text="${food.uname}" th:selected="${food.uname==uname}"></option>
			</select></td>
			<td>×</td>
			<td><input type="text" name="foodGram" id="gram">g</td>
			<td>=</td>
			<td id="disp" th:name="disp"></td>
		</tr>
	</table>

	<form action="/addFood" method="post">
		<input type="hidden" name="uname" id="uname"> <input
			type="hidden" name="calResult" id="calResult"> <input
			type="hidden" name="grams" id="grams"> <input type="submit"
			value="ADD" id="add"> <br>
	</form>



	<script>
		var disp = document.querySelector("#disp");
		var food = document.querySelector("#food");
		var gram = document.querySelector("#gram");
		var param1 = document.querySelector("#uname");
		var param2 = document.querySelector("#calResult");
		var param3 = document.querySelector("#grams");

		food.addEventListener("change", function() {
			f()
		});
		gram.addEventListener("change", function() {
			f()
		});

		function f() {
			//今ディスプレイに表示されている文字列を取得
			var index = food.selectedIndex;

			var value = food.options[index].value;

			disp.innerHTML = value * gram.value / 100;
			param1.value = food.options[index].innerHTML;
			param2.value = disp.innerHTML;
			param3.value = gram.value;
		}

		//こっから合計値を出す
		/*	var gramAll = document.querySelector("#gramAll");
			var kcalAll = document.querySelector("#kcalAll");
			var gram = document.querySelector("#add");
			var addGram = document.querySelector("#addGram");
			var addKcal = document.querySelector("#addKcal");

			add.addEventListener("click", function() {
				All()
			});

			//クリックされたときの処理
			function All() {

				//計算して表示
				for(var i=0 ,.length,i++){
				gramAll.innerHTML =
				kcalAll.innerHTML =}
					}*/
	</script>
</body>
</html>