<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>

<h1>Welcome to Calorie tool !</h1>


 <link href="/CSS/log.css" rel="stylesheet">
</head>
<body>
<form action="/log" method="post">
<p><span th:text="${message}" style="color:red"></span></p>
	<br>
	<input type="text" name="email" placeholder="メールアドレス">
	<br>
	<input type="text" name="password" placeholder="パスワード">
	<br><br>
	<input type="submit" value="ログイン">
	<br>
	<div><a href="/accountPage">アカウント作成へ</a></div>

</form>

</body>
</html>