<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>カロリー計算ツール</title>

</head>
<body>
<h1>メニュー登録（カロリー計算）

</h1><a href="/kasutamu">カスタム入力</a>


	<table border="1">
	<tr>
		<th>メニュー</th><th>グラム</th><th>カロリー</th>
	</tr>
	<tr th:each="food:${menu}">
		<td th:text="${food.name}"></td>
		<td th:text="${menu.gram}"></td>
		<td th:text="${food.kcal}"></td>
	</tr>
	</table>
	<input type="text" name="name"><input>

	<h2><a href="/kokumotu">穀物</a>　　　
	<a href="/niku">肉</a>　　　
	<a href="/sakana">魚</a>　　　
	<a href="/tyoumiryou">調味料</a></h2>


</body>
</html>