<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>マイメニュー画面</title>
</head>
<body>
<h1>マイメニュー</h1>
<form action="/confirm">
<table border="1">
<tr>
	<td>メニュー</td><td>カロリー</td>
</tr>
	<tr th:each="mylists:${list}">
		<td th:text="${mylists.dishname}"></td>
		<td th:text="${mylists.dishcode}"></td>
		<td><input type="submit" value="EAT!"></td>
	</tr>
	</table>
	</form>
	 <div th:replace="footer :: footer_fragment"></div>

</body>
</html>