<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>本日のカロリー</title>
<link href="/CSS/myPage.css" rel="stylesheet">
</head>
<body>
	<h2><br>
	<span th:text="${date}"></span>　の食事カロリー
	</h2>

	ようこそ<span th:text="${session.login}"></span>さん。
ユーザーコード<span th:text="${session.code}"></span>

<p><span th:text="${message}" style="color:red"></span></p>
<form action="/day" method=post>
<h1><input type="date" name="day" th:value="${date}">
<input type="submit" value="日付変更"></h1>
</form>
<h2>
	<table border="1">
	<tr>
		<th>メニュー</th><th>カロリー</th><th>時間</th>
	</tr>
	<tr th:each="kcal:${list}">
		<td th:text="${kcal.dishname}" ></td>
		<td th:text="${kcal.kcalall}">kcal</td>
		<td th:text="${kcal.time}"></td>
		<td><form action="/delPage" method="post">
					<input type="hidden" name="code" th:value="${kcal.code}">
					<input type="hidden" name="date" th:value="${kcal.date}">
					<input type="submit" value="Delete"></form></td>
	</table></h2>
	<h2>
	Total　<span th:text="${total}"></span>kcal
	</h2>
	<br>


	<form action="/sokutei" method=post>
	<input type="hidden" name="date" th:value="${date}">
	<input type="hidden" name="total" th:value="${total}">


	<span th:text="${taijyuu}" style="color:red"></span>
	<br>
	総カロリーの消費運動量を測定
	<br>
	体重<input type="text" name="taijyuu">㎏
	<input type="submit" value="測定">
	</form>

	<br><table border="1">
	<h2><tr>

	<td>測定結果</td><td></td>
	</tr>
	<tr>
	<td><span th:text="${kekka}"></span></td><td>km</td>
	</tr>
	</h2>
</table>



 <div th:replace="footer :: footer_fragment"></div>

</body>
</html>