<!DOCTYPE html>
<html>
<link href="/CSS/userEdit.css" rel="stylesheet">
<head>
<meta charset="UTF-8">
<title>UserEdit</title>
</head>
<body>
	<h3>更新画面</h3>
	<form action="/userEditComp" method="post">
		<table border="1">
			<tr>
				<th>名前</th>
				<td><input type="text" th:value="${user.name}" name="NAME" id="edit"></td>
			</tr>
			<tr>
				<th>年齢</th>
				<td><input type="text" th:value="${user.age}" name="age" id="edit"></td>
			</tr>
			<tr>
				<th>身長</th>
				<td><input type="text" th:value="${user.height}" name="height" id="edit"></td>
			</tr>
			<tr>
				<th>体重</th>
				<td><input type="text" th:value="${user.weight}" name="weight" id="edit"></td>
			</tr>
			<tr>
<th>性別</th>
<td th:if="${user.gender==1}" id="edit">男性</td>
<td th:if="${user.gender==2}" id="edit">女性</td>
			</tr>

		</table>
		<input type="submit" value="更新" id="kousinn">
		<a href="/userPage" class="btn btn--yellow btn--cubic">戻る</a>
	</form>

</body>
</html>