<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/CSS/userPage.css" rel="stylesheet">
<head>
<meta charset="UTF-8">
<title>User Page</title>
</head>
<body>
<header th:replace="hedder"></header>
<h3>ユーザ情報</h3>

<table>

<tr>
<th>名前</th><td th:text="${user.name}" name="NAME"></td>
</tr>
<tr>
<th>年齢</th><td th:text="${user.age}" name="age"></td>
</tr>
<tr>
<th>身長</th><td th:text="${user.height}" name="height"></td>
</tr>
<tr>
<th>体重</th><td th:text="${user.weight}" name="weight"></td>
</tr>
<tr>

<td>性別</td>
				<td th:if="${user.gender==1}"><select name="gender">
				<option value="1" selected>男性</option>
				<option value="2">女性</option></select></td>
				<td th:if="${user.gender==2}"><select name="gender">
				<option value="1">男性</option>
				<option value="2" selected>女性</option></select></td>

</tr>

</table>

<a href="/userEdit" class="btn btn--yellow btn--cubic" id="user">ユーザ情報編集</a>

</body>
</html>