<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/CSS/userPage.css" rel="stylesheet">
<head>
<meta charset="UTF-8">
<title>User Page</title>
</head>
<body>
<header th:replace="hedder"></header>
<h3>ユーザ情報</h3>

<table>

<tr>
<th>名前</th><td th:text="${user.name}" name="NAME"></td>
</tr>
<tr>
<th>年齢</th><td th:text="${user.age}" name="age"></td>
</tr>
<tr>
<th>身長</th><td th:text="${user.height}" name="height"></td>
</tr>
<tr>
<th>体重</th><td th:text="${user.weight}" name="weight"></td>
</tr>
<tr>


<th>性別</th>
<td th:if="${user.gender==null}" ></td>
<td th:if="${user.gender==1}" >男性</td>
<td th:if="${user.gender==2}" >女性</td>
</tr>

</table>

<a href="/userEdit" class="btn btn--yellow btn--cubic" id="user">ユーザ情報編集</a>

</body>
</html>